div{
    background-color: red;
    width: 150px;
    margin: auto;
    text-align: center;
}

div{
    border-top: 3px solid blue;
    border-bottom: 5px double black;
    border-radius: 20px 50px 0px 10px;
}