body{
    font-family: sans-serif;
    color: #222;
    background: linear-gradient(#333,#000);
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 150;
    font-size: 1.5em;
    
}
form{
    background: #eee;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px #fffe;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

.form_input{
    padding: 10px 20px;

}

input,textarea,select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 3px solid #666;    
    box-shadow: 0px 0px 5px #0007;
    border-radius: 3px;

}
option{
    background-color: #eee;
}
textarea{
    resize: none;
    min-height: 100px;
    font-family: sans-serif;
    
}
label{
    font-size: 0.88em;
    line-height: 1.5;
}
.checkbox{
    width: auto;
    height: 12px;
}

fieldset{
    border-radius: 5px;
    border: 2px solid #777;
    margin: 0px 20px;
    padding: 10px 0px;
}
legend{
    padding: 0px 10px;
    font-size: 1em;
    color: #777;
}

a{
    color: #15f;
    text-decoration: none;
}